
.container-lg a.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}
@media (min-width: 1200px){

.container-lg {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto;
    }
.container-lg {
    max-width: 90%;
}
.row{
    margin-right:0px;
    margin-left:0px;
    
}
}

/*Hero background*/
.hero-bg{
    background-color: rgb(242,243,243);    
    width: 100%;
    height: 80vh;
}

@media (max-width: 1200px){
    .hero-bg{
        height: 60vh;
    }
}